let mapleader = ","

set hlsearch
set ignorecase
set smartcase

" Utils
nnoremap <silent> <C-L> :nohlsearch<CR>

" Smash escape
inoremap jk <Esc>
inoremap kj <Esc>
inoremap JK <Esc>
inoremap KJ <Esc>

" File opening
map <Leader>d :hide<CR>

" Save
nnoremap <Leader>w :w<Enter>

" Force yourself to stop using arrow keys
noremap   <Up>     <Nop>
noremap   <Down>   <Nop>
noremap   <Left>   <Nop>
noremap   <Right>  <Nop>
inoremap  <Up>     <Nop>
inoremap  <Down>   <Nop>
inoremap  <Left>   <Nop>
inoremap  <Right>  <Nop>

" Override defaults
nnoremap Q <Nop>
nnoremap <space> za
nnoremap j gj
nnoremap k gk

" Visual line repeat
xnoremap . :normal .<CR> 
xnoremap @ :<C-u>call ExecuteMacroOverVisualRange()<CR>
 
function! ExecuteMacroOverVisualRange()
  echo "@".getcmdline()
  execute ":'<,'>normal @".nr2char(getchar())
endfunction
